<!--Este es el Index.html del otro proyecto. Hay que transformarlo en base.html-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Estilos y fuentes del template  -->

    {% load static %}
    <link type="image/png" sizes="32x32" rel="icon" href="{% static 'core/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/css.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nosifer&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
    <!--Header - Menu-->
    <!-------------------------------------------------------------------->

    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Tinta<b>En</b>Movimiento</h1>    
            </div>

            <div class="menu" id="show-menu">
            
                <div><nav>
                    <ul class="menu_display">
                        <li class="menu-selected"><a href="{% url 'home' %}" class="text-menu-selected"><i class="fa-solid fa-house"></i>Home</a></li>
                        <li><a href="{% url 'estudio' %}"><i class="fa-solid fa-building"></i>Estudio</a></li>
                        <li><a href="{% url 'equipo' %}"><i class="fa-solid fa-handshake"></i>Equipo</a></li>
                        <li><a href="{% url 'portafolio' %}"><i class="fa-solid fa-images"></i>Portafolio</a></li>
                        <li><a href="{% url 'cuidados' %}"><i class="fa-solid fa-user-nurse"></i>Cuidados</a></li>
                        <li><a href="{% url 'cotizador' %}"><i class="fa-solid fa-calculator"></i>Cotizador</a></li>
                        <li><a href="{% url 'blog' %}"><i class="fa-solid fa-blog"></i>Blog</a></li>
                        <li><a href="{% url 'contacto' %}"><i class="fa-solid fa-address-book"></i>Contacto</a></li>
                    </ul>
                </nav></div>
                
            </div>

            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <!--Portada-->
    <!-------------------------------------------------------------------->

    <div class="container-all" id="move-content">

    <div class="container-cover" style="background-image: url('{% block background %}{% endblock %}')">
        <div class="container-info-cover">
            {% block headers %}{% endblock %}
        </div>
    </div>

    {% block content %}{% endblock %}

{% if request.path != '/' %}<hr> {% endif %}
    <!--------------------------------------------------------------------> 
    <!--footer-->  

    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="{% static 'core/img/logo_estudio.png' %}" alt="Logo del estudio">
            </div>
            <div class="redes-footer">
                <a href="" class="fa-brands fa-pinterest" alt="Contacto: Perfil de Pinterest"></a>
                <a href="" class="fa-brands fa-google" alt="Contacto: GMail"></a>
                <a href="" class="fa-brands fa-instagram" alt="Contacto: Perfil de Instagram"></a>
                <a href="" class="fa-brands fa-whatsapp" alt="Contacto: Contacto de Whatsapp"></a>
            </div>
            <hr>
            <h5>© 2023   TintaEnMovimiento    -    Todos los Derechos Reservados</h5>
        </footer>
    </div>
    </div>
    <a href="#" class="subir"> <!--Boton de subir pagina-->
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </a>
    <!-- Javascripts -->
    <script src="{% static 'core/js/js.js' %}"></script>
    <script src="{% static 'core/js/js_clima.js' %}"></script>
    <script src="{% static 'core/js/menu.js' %}"></script>
</body>
</html>

