<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinta en Movimiento - Blog</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/Imagenes/favicon.png">
    <link rel="stylesheet" href="../CSS/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nosifer&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
    <!--Header - Menu-->
    <!-------------------------------------------------------------------->

    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Tinta<b>En</b>Movimiento</h1>    
            </div>

            <div class="menu" id="show-menu">
            
                <div><nav>
                    <ul class="menu_display">
                       <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                        <li><a href="../secciones/estudio.html"><i class="fa-solid fa-building"></i>Estudio</a></li>
                        <li><a href="../secciones/equipo.html"><i class="fa-solid fa-handshake"></i>Equipo</a></li>
                        <li><a href="../secciones/portafolio.html"><i class="fa-solid fa-images"></i>Portafolio</a></li>
                        <li><a href="../secciones/cuidados.html"><i class="fa-solid fa-user-nurse"></i>Cuidados</a></li>
                        <li><a href="../secciones/cotizador.html"><i class="fa-solid fa-calculator"></i>Cotizador</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i class="fa-solid fa-blog"></i>Blog</a></li>
                        <li><a href="../secciones/contacto.html"><i class="fa-solid fa-address-book"></i>Contacto</a></li>
                    </ul>
                </nav></div>
                
                
            </div>

            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <!--Portada-->
    <!-------------------------------------------------------------------->

    <div class="container-all" id="move-content">

    <div class="container-cover">
        <div class="container-info-cover">
            <h2>Blog Tattoo</b></h2>
        </div>
    </div>

    <!--Section Main-->
    <!-------------------------------------------------------------------->

    <div class="main">
        <article>
            
            <div class="title"><h3>Próximos Eventos en Argentina 2023</h3></div>
            
            <div class="container-eventos">
            
                <div class="eventos-img">
                    <img src="../Imagenes/Blog_3/13-15Oct2023.jpeg" alt="Cartel de evento sobre tatuajes">
                    <h4>7° Monster's Tattoo Expo</h4>
                    <p>13 - 15 Oct</p>
                    <p>La Punta, Pcia. de San Luis</p>
                </div>
            
                <div class="eventos-img">
                    <img src="../Imagenes/Blog_3/13-15-Oct-23.jpeg" alt="Cartel de evento sobre tatuajes">
                    <h4>11th Tucumán Tattoo Festival</h4>
                    <p>13 - 15 Oct</p>
                    <p>San Miguel de Tucumán, Pcia. de Tucumán</p>
                </div>
            
                <div class="eventos-img">
                    <img src="../Imagenes/Blog_3/04-05-Nov-23.jpeg" alt="Cartel de evento sobre tatuajes">
                    <h4>Ufo Ink Tattoo Expo 2023</h4>
                    <p>04 - 05 Nov</p>
                    <p>Buenos Aires, Pcia. de Buenos Aires</p>
                </div>
            
                <div class="eventos-img">
                    <img src="../Imagenes/Blog_3/10-12-Nov-2023.jpeg" alt="Cartel de evento sobre tatuajes">
                    <h4>4ta Expo Tattoo Formosa </h4>
                    <p>10 - 12 Nov</p>
                    <p>Formosa, Pcia. de Formosa</p>
                </div>
            
                <div class="eventos-img">
                    <img src="../Imagenes/Blog_3/10-12-Nov-23.jpeg" alt="Cartel de evento sobre tatuajes">
                    <h4>14th Tattoo Fest Buenos Aires</h4>
                    <p>10 - 12 Nov</p>
                    <p>Buenos Aires, Pcia. de Buenos Aires</p>
                </div>
            
                <div class="eventos-img">
                    <img src="../Imagenes/Blog_3/11-12-Nov-23.jpeg" alt="Cartel de evento sobre tatuajes">
                    <h4>9ª Expo Tattoo Patagonia Sur Sur</h4>
                    <p>11 - 12 Nov</p>
                    <p>Río Grande, Pcia. de Tierra del Fuego</p>
                </div>
            
                <div class="eventos-img">
                    <img src="../Imagenes/Blog_3/08-09-Dic-23.jpeg" alt="Cartel de evento sobre tatuajes">
                    <h4>15th Tattoo Covención Cordoba</h4>
                    <p>08 - 09 Dic</p>
                    <p>Ciudad de Cordoba, Pcia. de Cordoba</p>
                </div>     
            </div>

        </article>

        <!--Aside-->
        <!-------------------------------------------------------------------->   
        
        <div class="container-aside">
            <aside>
                <img src="../Imagenes/Blog/tatuadora.jpeg" alt="Tatuadora">
                <h3>Documentales sobre Tatuajes</h3>
                <p>Los tatuajes son una forma de arte corporal que ha existido desde hace siglos. A lo largo de la historia, los tatuajes han tenido diferentes significados culturales y simbólicos, y han sido utilizados para expresar la identidad personal, la creatividad y el estilo.</p>
                <a href="../secciones_Blog/articuloblog1.html"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="../Imagenes/Blog/tatuador.jpeg" alt="Diseño de tatuaje">
                <h3>Como elegir el estilo de tatuaje perfecto</h3>
                <p>Encontrar el estilo de tatuaje adecuado es una decisión importante, ya que el tatuaje que estás a punto de hacerte será una expresión artística permanente en tu cuerpo para siempre.</p>
                <a href="../secciones_Blog/articuloblog2.html"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="../Imagenes/Blog/tatuaje_blancoynegro.jpeg" alt="Tatuaje en blanco y negro">
                <h3>Principales estilos de tatuajes</h3>
                <p>En general, hay un estilo de tatuaje para cada persona. Algunos de los estilos más populares son:</p>
                <a href="../secciones/blog.html"><button>Leer más</button></a>
            </aside>
        </div>
    </div>
       
    <!--Footer-->
    <!-------------------------------------------------------------------->  

    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="/Imagenes/logo_estudio.png" alt="Logo del estudio">
            </div>
            <div class="redes-footer">
                <a href="" class="fa-brands fa-pinterest" alt="Contacto: Perfil de Pinterest"></a>
                <a href="" class="fa-brands fa-google" alt="Contacto: GMail"></a>
                <a href="" class="fa-brands fa-instagram" alt="Contacto: Perfil de Instagram"></a>
                <a href="" class="fa-brands fa-whatsapp" alt="Contacto: Contacto de Whatsapp"></a>
            </div>
            <hr>
            <h5>© 2023   TintaEnMovimiento    -    Todos los Derechos Reservados</h5>
        </footer>
    </div>
    </div>
    <script src="../JS/menu.js"></script>
</body>
</html>
        
        