{% extends "core/_base.html" %}
{% block title %}Tinta en Movimiento - Blog{% endblock %}
{% block background %}{% load static %}{% static 'core/img/fondo_portada.jpeg' %}{% endblock %}
{% block headers %}<h2>BLOG TATTOO</h2>{% endblock %}

{% block content %} 

    <!--Section Main-->
    <!-------------------------------------------------------------------->

    <div class="main">
        <article>
            
            <div class="title"><h3>Próximos Eventos en Argentina 2023</h3></div>
            
            <div class="container-eventos">
            
                <div class="eventos-img">
                    <img src="{% static 'core/img/13-15Oct2023.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                    <h4>7° Monster's Tattoo Expo</h4>
                    <p>13 - 15 Oct</p>
                    <p>La Punta, Pcia. de San Luis</p>
                </div>
            
                <div class="eventos-img">
                    <img src="{% static 'core/img/13-15-Oct-23.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                    <h4>11th Tucumán Tattoo Festival</h4>
                    <p>13 - 15 Oct</p>
                    <p>San Miguel de Tucumán, Pcia. de Tucumán</p>
                </div>
            
                <div class="eventos-img">
                    <img src="{% static 'core/img/04-05-Nov-23.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                    <h4>Ufo Ink Tattoo Expo 2023</h4>
                    <p>04 - 05 Nov</p>
                    <p>Buenos Aires, Pcia. de Buenos Aires</p>
                </div>
            
                <div class="eventos-img">
                    <img src="{% static 'core/img/10-12-Nov-2023.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                    <h4>4ta Expo Tattoo Formosa </h4>
                    <p>10 - 12 Nov</p>
                    <p>Formosa, Pcia. de Formosa</p>
                </div>
            
                <div class="eventos-img">
                    <img src="{% static 'core/img/10-12-Nov-23.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                    <h4>14th Tattoo Fest Buenos Aires</h4>
                    <p>10 - 12 Nov</p>
                    <p>Buenos Aires, Pcia. de Buenos Aires</p>
                </div>
            
                <div class="eventos-img">
                    <img src="{% static 'core/img/11-12-Nov-23.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                    <h4>9ª Expo Tattoo Patagonia Sur</h4>
                    <p>11 - 12 Nov</p>
                    <p>Río Grande, Pcia. de Tierra del Fuego</p>
                </div>
            
                <div class="eventos-img">
                    <img src="{% static 'core/img/08-09-Dic-23.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                    <h4>15th Tattoo Covención Cordoba</h4>
                    <p>08 - 09 Dic</p>
                    <p>Ciudad de Cordoba, Pcia. de Cordoba</p>
                </div>     
            </div>

        </article>

        <!--Aside-->
        <!-------------------------------------------------------------------->   
        
        <div class="container-aside">
            <aside>
                <img src="{% static 'core/img/tatuadora.jpeg' %}" alt="Tatuadora">
                <h3>Documentales sobre Tatuajes</h3>
                <p>Los tatuajes son una forma de arte corporal que ha existido desde hace siglos. A lo largo de la historia, los tatuajes han tenido diferentes significados culturales y simbólicos, y han sido utilizados para expresar la identidad personal, la creatividad y el estilo.</p>
                <a href="{% url 'articuloblog1' %}"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="{% static 'core/img/tatuador.jpeg' %}" alt="Diseño de tatuaje">
                <h3>Como elegir el estilo de tatuaje perfecto</h3>
                <p>Encontrar el estilo de tatuaje adecuado es una decisión importante, ya que el tatuaje que estás a punto de hacerte será una expresión artística permanente en tu cuerpo para siempre.</p>
                <a href="{% url 'articuloblog2' %}"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="{% static 'core/img/tatuaje_blancoynegro.jpeg' %}" alt="Tatuaje en blanco y negro">
                <h3>Principales estilos de tatuajes</h3>
                <p>En general, hay un estilo de tatuaje para cada persona. Algunos de los estilos más populares son:</p>
                <a href="{% url 'blog' %}"><button>Leer más</button></a>
            </aside>
        </div>
    </div>
{% endblock %}  