<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinta en Movimiento - Blog</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/Imagenes/favicon.png">
    <link rel="stylesheet" href="../CSS/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nosifer&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
    
    <!--Header - Menu-->
    <!-------------------------------------------------------------------->

    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Tinta<b>En</b>Movimiento</h1>    
            </div>

            <div class="menu" id="show-menu">
            
                <div><nav>
                    <ul class="menu_display">
                        <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                        <li><a href="../secciones/estudio.html"><i class="fa-solid fa-building"></i>Estudio</a></li>
                        <li><a href="../secciones/equipo.html"><i class="fa-solid fa-handshake"></i>Equipo</a></li>
                        <li><a href="../secciones/portafolio.html"><i class="fa-solid fa-images"></i>Portafolio</a></li>
                        <li><a href="../secciones/cuidados.html"><i class="fa-solid fa-user-nurse"></i>Cuidados</a></li>
                        <li><a href="../secciones/cotizador.html"><i class="fa-solid fa-calculator"></i>Cotizador</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i class="fa-solid fa-blog"></i>Blog</a></li>
                        <li><a href="../secciones/contacto.html"><i class="fa-solid fa-address-book"></i>Contacto</a></li>
                    </ul>
                </nav></div>
                
            </div>

            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <!--Portada-->
    <!-------------------------------------------------------------------->

    <div class="container-all" id="move-content">

    <div class="container-cover">
        <div class="container-info-cover">
            <h2>Blog Tattoo</h2>
        </div>
    </div>

    <!--Section Main-->
    <!-------------------------------------------------------------------->

    <div class="main">
        
        <article>
        
            <h3>Documentales sobre Tatuajes</h3>
        
            <p>Los tatuajes son una forma de arte corporal que ha existido desde hace siglos. A lo largo de la historia, los tatuajes han tenido diferentes significados culturales y simbólicos, y han sido utilizados para expresar la identidad personal, la creatividad y el estilo. Actualmente, los tatuajes son más populares que nunca y hay una gran variedad de diseños y estilos disponibles para aquellos que desean expresarse a través de la tinta. Una forma interesante y educativa de conocer más sobre la cultura y el arte de los tatuajes es a través de los documentales.</p>
            
            <p>En este artículo exploraremos los mejores documentales sobre tatuajes para aquellos que quieran aprender más sobre el arte del tatuaje.Si eres amante del tatuaje y no has visto alguno de estos títulos, tienes algo pendiente. </p>
            
            <br>

            <h3>Videos</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/hDQTu9WhObc?si=tYR_-BELJnrK2b1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h4>El tatuaje y su maestra</h4>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/37oywv7JX0w?si=UQrUg7jA7buQ794k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h4>El Arte del Tatuaje</h4>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qo-Chj0i2pE?si=IC0eBmXNddvhvmSN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h4>The Sacred Tattoos Of Thailand</h4>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WlxRkrGiCBg?si=On-betCviEkuZH_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h4>El Dúo Japonés : Taki & Horitomo</h4>
            
        </article>

        <!--Aside-->
        <!-------------------------------------------------------------------->   
        
        <div class="container-aside">
            <aside>
                <img src="../Imagenes/Blog/tatuaje_blancoynegro.jpeg" alt="Tatuaje en blanco y negro">
                <h3>Principales estilos de tatuajes</h3>
                <p>En general, hay un estilo de tatuaje para cada persona. Algunos de los estilos más populares son:</p>
                <a href="../secciones/blog.html"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="../Imagenes/Blog/tatuador.jpeg" alt="Diseño de tatuaje">
                <h3>Como elegir el estilo de tatuaje perfecto</h3>
                <p>Encontrar el estilo de tatuaje adecuado es una decisión importante, ya que el tatuaje que estás a punto de hacerte será una expresión artística permanente en tu cuerpo para siempre.</p>
                <a href="../secciones_Blog/articuloblog2.html"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="../Imagenes/Blog_3/13-15Oct2023.jpeg" alt="Cartel de evento sobre tatuajes">
                <h3>Próximos Eventos en Argentina 2023</h3>
                <a href="../secciones_Blog/articuloblog3.html"><button>Leer más</button></a>
            </aside>
        </div>
    </div>

    <!--Footer-->
    <!-------------------------------------------------------------------->  

    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="/Imagenes/logo_estudio.png" alt="Logo del estudio">
            </div>
            <div class="redes-footer">
                <a href="" class="fa-brands fa-pinterest" alt="Contacto: Perfil de Pinterest"></a>
                <a href="" class="fa-brands fa-google" alt="Contacto: GMail"></a>
                <a href="" class="fa-brands fa-instagram" alt="Contacto: Perfil de Instagram"></a>
                <a href="" class="fa-brands fa-whatsapp" alt="Contacto: Contacto de Whatsapp"></a>
            </div>
            <hr>
            <h5>© 2023   TintaEnMovimiento    -    Todos los Derechos Reservados</h5>
        </footer>
    </div>
    </div>
    <script src="../JS/menu.js"></script>
</body>
</html>    