<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Tinta en Movimiento - Blog</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/Imagenes/favicon.png">
    <link rel="stylesheet" href="/CSS/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nosifer&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
    
    <!--Header - Menu-->
    <!-------------------------------------------------------------------->
    
    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Tinta<b>En</b>Movimiento</h1>    
            </div>

            <div class="menu" id="show-menu">
            
                <div><nav>
                    <ul class="menu_display">
                        <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                        <li><a href="estudio.html"><i class="fa-solid fa-building"></i>Estudio</a></li>
                        <li><a href="equipo.html"><i class="fa-solid fa-handshake"></i>Equipo</a></li>
                        <li><a href="portafolio.html"><i class="fa-solid fa-images"></i>Portafolio</a></li>
                        <li><a href="cuidados.html"><i class="fa-solid fa-user-nurse"></i>Cuidados</a></li>
                        <li><a href="cotizador.html"><i class="fa-solid fa-calculator"></i>Cotizador</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i class="fa-solid fa-blog"></i>Blog</a></li>
                        <li><a href="contacto.html"><i class="fa-solid fa-address-book"></i>Contacto</a></li>
                    </ul>
                </nav></div>
                
            </div>

            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <!--Portada-->
    <!-------------------------------------------------------------------->
    
    <div class="container-all" id="move-content">

    <div class="container-cover">
        <div class="container-info-cover">
            <h2>Blog Tattoo</h2>
        </div>
    </div>

    <!--Section Main-->
    <!-------------------------------------------------------------------->
    
    <div class="main">
        
        <article>
        
            <h3>Principales estilos de tatuajes</h3>

            <p>En general, hay un estilo de tatuaje para cada persona. Algunos de los estilos más populares son:</p>
            <br>
            <ol>
                <li>El tatuaje tradicional americano.</li>
                <li>El tatuaje japonés.</li>
                <li>El tatuaje neo tradicional.</li>
                <li>El tatuaje de diseño gráfico.</li>
                <li>El tatuaje minimalista.</li>
                <li>El tatuaje de letras.</li>
                <li>El tatuaje de realismo.</li>
                <li>El tatuaje de arte corporal. </li>
            </ol>
            
            <p>Por ejemplo, <strong>El estilo de tatuajes tradicional americano</strong> suele ser muy colorido y tiene una estética clásica, mientras que <strong>el tatuaje neo tradicional</strong> tiene un enfoque más moderno y sofisticado. </p>
            <p><strong>El tatuaje japonés</strong> es conocido por su precisión y detalles intrincados, y <strong>el tatuaje de realismo</strong> busca reproducir la apariencia de la piel con tanta fidelidad como sea posible. </p>
            <p>Además de los estilos mencionados anteriormente, también existen otros principales estilos de tatuajes que son populares entre los tatuadores y los clientes. Uno de ellos es <strong>el tatuaje de linework</strong>, que se caracteriza por su uso de líneas finas y precisas para crear diseños minimalistas y elegantes. <strong>El tatuaje de acuarela</strong>, por otro lado, se basa en la técnica de pintura al agua para crear diseños que parecen salir de la piel.</p>
            <p><strong>El tatuaje de blackwork</strong> también es un estilo popular, se caracteriza por el uso de tinta negra para crear diseños geométricos y simbólicos. </p>
            <p><strong>El tatuaje de cuerpo completo</strong> es otro estilo popular que se refiere a los tatuajes que cubren gran parte o todo el cuerpo. Estos tatuajes pueden ser una mezcla de diferentes estilos y técnicas, y suelen ser muy elaborados y requieren varias sesiones de tatuaje.</p>
            <p>Otro de los principales estilos de tatuajes populares es <strong>el tatuaje de ilustración</strong>, que se caracteriza por su uso de elementos gráficos y detalles elaborados para crear diseños que parecen sacados de una ilustración o un cuadro. Los tatuajes de ilustración suelen ser muy coloridos ya menudo incluyen elementos de la naturaleza, animales y seres mitológicos.</p>
            <p><strong>El tatuaje de ciencia ficción y el tatuaje de fantasía</strong> son también algunos de los principales estilos de tatuajes populares entre aquellos que buscan diseños más elaborados y llamativos. Estos estilos suelen incluir elementos de la ciencia ficción y la fantasía, como dragones, robots, extraterrestres y otros seres imaginarios.</p>
            <p><strong>El tatuaje de mandala</strong> es un estilo muy detallado y simbólico que se basa en diseños geométricos y patrones repetitivos. Los mandalas suelen ser utilizados en la meditación y la introspección y suelen tener un gran significado espiritual.</p>
            <p>En última instancia, recomendamos que la elección del estilo de tatuaje se haga a partir de tus gustos personales y preferencias. Es importante investigar y elegir un tatuador que tenga experiencia en el estilo que deseas y que te ayude a crear un diseño único y personalizado. Es importante recordar que un tatuaje es una inversión a largo plazo y debes estar seguro de su elección antes de tomar la decisión de tatuarte.</p>
            <p>En resumen, hay una gran variedad de principales estilos de tatuajes disponibles, desde los clásicos hasta los más modernos. Es importante elegir un estilo que se adapte a tus gustos y preferencias, y que sea realizado por un tatuador experimentado y profesional. Además, es importante recordar que los tatuajes son una forma permanente de expresión, por lo que es importante elegir un diseño que realmente te represente y te guste.</p>

            <img src="../Imagenes/Blog/tatuaje_blancoynegro.jpeg" alt="Tatuaje en blanco y negro">
        
        </article>

        <!--Aside-->
        <!-------------------------------------------------------------------->   

        <div class="container-aside">
            <aside>
                <img src="../Imagenes/Blog/tatuadora.jpeg" alt="Tatuadora">
                <h3>Documentales sobre Tatuajes</h3>
                <p>Los tatuajes son una forma de arte corporal que ha existido desde hace siglos. A lo largo de la historia, los tatuajes han tenido diferentes significados culturales y simbólicos, y han sido utilizados para expresar la identidad personal, la creatividad y el estilo.</p>
                <a href="../secciones_Blog/articuloblog1.html"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="../Imagenes/Blog/tatuador.jpeg" alt="Diseño de tatuaje">
                <h3>Como elegir el estilo de tatuaje perfecto</h3>
                <p>Encontrar el estilo de tatuaje adecuado es una decisión importante, ya que el tatuaje que estás a punto de hacerte será una expresión artística permanente en tu cuerpo para siempre.</p>
                <a href="../secciones_Blog/articuloblog2.html"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="../Imagenes/Blog_3/01-03-Sep-23.jpeg" alt="Tatuaje en blanco y negro">
                <h3>Próximos Eventos en Argentina 2023</h3>
                <a href="../secciones_Blog/articuloblog3.html"><button>Leer más</button></a>
            </aside>
        </div>    
    </div>

    <!--Footer-->
    <!-------------------------------------------------------------------->  
    
    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="/Imagenes/logo_estudio.png" alt="Logo del estudio">
            </div>
            <div class="redes-footer">
                <a href="" class="fa-brands fa-pinterest" alt="Contacto: Perfil de Pinterest"></a>
                <a href="" class="fa-brands fa-google" alt="Contacto: GMail"></a>
                <a href="" class="fa-brands fa-instagram" alt="Contacto: Perfil de Instagram"></a>
                <a href="" class="fa-brands fa-whatsapp" alt="Contacto: Contacto de Whatsapp"></a>
            </div>
            <hr>
            <h5>© 2023   TintaEnMovimiento    -    Todos los Derechos Reservados</h5>
        </footer>
    </div>
    </div>
    <a href="#" class="subir"> <!--Boton de subir pagina-->
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </a>
    <script src="../JS/menu.js"></script>
</body>
</html>
