{% extends "core/_base.html" %}

{% block title %}Tinta en Movimiento - Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/fondo_portada.jpeg' %}{% endblock %}


{% block headers %}
<h2>CONTACTO TATTOO</h2>
{% endblock %}
    <!--Section Main-->
    <!-------------------------------------------------------------------->
{% block content %} 
    <div class="main-Contacto">
        <div>
            <article>
                <h3><b>Contacto</b></h3> 
                
                <ol>
                    <li><b>Dirección</b></li>
                    <hr>
                    <li>Fray Justo Sta. María de Oro 2315 - Barrio Palermo</li>
                    <li>Buenos Aires, Argentina</li>
                    <br>
                    <li><b>Teléfono</b></li>
                    <hr>
                    <li>(+54) 11 1234-5678</li>
                    <br>
                    <li><b>Correo electrónico</b></li>
                    <hr>
                    <li>tintaenmovimiento@gmail.com</li>
                    <br>
                    <li><b>Horarios de atención</b></li>
                    <hr>
                    <li>Lunes: 10:00 - 15:00</li>
                    <li>Martes: 9:00 - 18:00</li>
                    <li>Miércoles: 9:00 - 15</li>
                    <li>Jueves: 9:00 - 18:00</li>
                    <li>Viernes: 9:00 - 18:00</li>
                    <li>Sábado: 10:00 - 15:00</li>
                    <li>Domingo: Cerrado</li>
                    <li>
                        <iframe class="iframe" src="https://maps.google.com/?ll=-34.581337,-58.426246&z=14&t=m&output=embed" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </li>
                </ol>
            </article>
        </div>
    </div>

    <!-------------------------------------------------------------------->
    <!--Section-->

    <div class= "section">
        <div>
            <section>

                <h3>Dejanos tus datos y tu consulta</h3>
                <br>

                <form>
                    Nombre y apellido   <input type="text" name="nombre" size="30" maxlength="100">
                    <br>
                    <br>
                    Dirección de correo   <input type="text" name="email" size="41" maxlength="100" value="@">
                    <br>
                    <br>
                    Consulta  <textarea cols="61" rows="7" name="consulta"></textarea>
                    <br>
                    <br>
                    <input type="checkbox" name="recibir_info" checked> Deseo recibir notificación de las
                    novedades en tatuajes.
                    <br>
                    <br>
                    <input type="submit" value="Enviar formulario">
                    <br>
                    <br>
                    <input type="Reset" value="Borrar todo">
                </form>

            </section>
        </div>
    </div>
{% endblock %}
