<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinta en Movimiento - Contacto</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/Imagenes/favicon.png">
    <link rel="stylesheet" href="/CSS/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nosifer&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>

    <!--Header - Menu-->
    <!-------------------------------------------------------------------->

    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Tinta<b>En</b>Movimiento</h1>    
            </div>

            <div class="menu" id="show-menu">
            
                <div><nav>
                    <ul class="menu_display">
                        <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                        <li><a href="estudio.html"><i class="fa-solid fa-building"></i>Estudio</a></li>
                        <li><a href="equipo.html"><i class="fa-solid fa-handshake"></i>Equipo</a></li>
                        <li><a href="portafolio.html"><i class="fa-solid fa-images"></i>Portafolio</a></li>
                        <li><a href="cuidados.html"><i class="fa-solid fa-user-nurse"></i>Cuidados</a></li>
                        <li><a href="cotizador.html"><i class="fa-solid fa-calculator"></i>Cotizador</a></li>
                        <li><a href="blog.html"><i class="fa-solid fa-blog"></i>Blog</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i class="fa-solid fa-address-book"></i>Contacto</a></li>
                    </ul>
                </nav></div>

            </div>

            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <!--Portada-->
    <!-------------------------------------------------------------------->

    <div class="container-all" id="move-content">

    <div class="container-cover">
        <div class="container-info-cover">
            <h2>Contacto Tattoo</h2>
        </div>
    </div>

    <!--Section Main-->
    <!-------------------------------------------------------------------->

    <div class="main-Contacto">
        <div>
            <article>
                <h3><b>Contacto</b></h3> 
                
                <ol>
                    <li><b>Dirección</b></li>
                    <hr>
                    <li>Fray Justo Sta. María de Oro 2315 - Barrio Palermo</li>
                    <li>Buenos Aires, Argentina</li>
                    <br>
                    <li><b>Teléfono</b></li>
                    <hr>
                    <li>(+54) 11 1234-5678</li>
                    <br>
                    <li><b>Correo electrónico</b></li>
                    <hr>
                    <li>tintaenmovimiento@gmail.com</li>
                    <br>
                    <li><b>Horarios de atención</b></li>
                    <hr>
                    <li>Lunes: 10:00 - 15:00</li>
                    <li>Martes: 9:00 - 18:00</li>
                    <li>Miércoles: 9:00 - 15</li>
                    <li>Jueves: 9:00 - 18:00</li>
                    <li>Viernes: 9:00 - 18:00</li>
                    <li>Sábado: 10:00 - 15:00</li>
                    <li>Domingo: Cerrado</li>
                    <li>
                        <iframe class="iframe" src="https://maps.google.com/?ll=-34.581337,-58.426246&z=14&t=m&output=embed" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </li>
                </ol>
            </article>
        </div>
    </div>

    <!-------------------------------------------------------------------->
    <!--Section-->

    <div class= "section">
        <div>
            <section>

                <h3>Dejanos tus datos y tu consulta</h3>
                <br>

                <form>
                    Nombre y apellido   <input type="text" name="nombre" size="30" maxlength="100">
                    <br>
                    <br>
                    Dirección de correo   <input type="text" name="email" size="41" maxlength="100" value="@">
                    <br>
                    <br>
                    Consulta  <textarea cols="61" rows="7" name="consulta"></textarea>
                    <br>
                    <br>
                    <input type="checkbox" name="recibir_info" checked> Deseo recibir notificación de las
                    novedades en tatuajes.
                    <br>
                    <br>
                    <input type="submit" value="Enviar formulario">
                    <br>
                    <br>
                    <input type="Reset" value="Borrar todo">
                </form>

            </section>
        </div>
    </div>

    <!--Footer-->
    <!-------------------------------------------------------------------->   

    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="/Imagenes/logo_estudio.png" alt="Logo del estudio">
            </div>
            <div class="redes-footer">
                <a href="" class="fa-brands fa-pinterest" alt="Contacto: Perfil de Pinterest"></a>
                <a href="" class="fa-brands fa-google" alt="Contacto: GMail"></a>
                <a href="" class="fa-brands fa-instagram" alt="Contacto: Perfil de Instagram"></a>
                <a href="" class="fa-brands fa-whatsapp" alt="Contacto: Contacto de Whatsapp"></a>
            </div>
            <hr>
            <h5>© 2023   TintaEnMovimiento    -    Todos los Derechos Reservados</h5>
        </footer>
    </div>
    </div>
    <a href="#" class="subir"> <!--Boton de subir pagina-->
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </a>
    <script src="../JS/menu.js"></script>
    <script src="../JS/js.js"></script>
</body>
</html>
