<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinta en Movimiento - Cotizador</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/Imagenes/favicon.png">
    <link rel="stylesheet" href="/CSS/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nosifer&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
    
    <!--Header - Menu-->
    <!-------------------------------------------------------------------->

    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Tinta<b>En</b>Movimiento</h1>    
            </div>

            <div class="menu" id="show-menu">
            
                <div><nav>
                    <ul class="menu_display">
                        <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                        <li><a href="estudio.html"><i class="fa-solid fa-building"></i>Estudio</a></li>
                        <li><a href="equipo.html"><i class="fa-solid fa-handshake"></i>Equipo</a></li>
                        <li><a href="portafolio.html"><i class="fa-solid fa-images"></i>Portafolio</a></li>
                        <li><a href="cuidados.html"><i class="fa-solid fa-user-nurse"></i>Cuidados</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i class="fa-solid fa-calculator"></i>Cotizador</a></li>
                        <li><a href="blog.html"><i class="fa-solid fa-blog"></i>Blog</a></li>
                        <li><a href="contacto.html"><i class="fa-solid fa-address-book"></i>Contacto</a></li>
                    </ul>
                </nav></div>
                
            </div>

            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <!--Portada-->
    <!-------------------------------------------------------------------->

    <div class="container-all" id="move-content">

    <div class="container-cover">
        <div class="container-info-cover">
            <h2>Cotizador Tattoo</h2>
        </div>
    </div>

    <!--Section Main-->
    <!-------------------------------------------------------------------->
    
    <div class="main">
        <div>
            <article>
            
                <h3>Cotizá el valor de tu tatuaje</h3>
                    
                <form id="formularioCotizador">
                    Largo del tatuaje
                    <br>
                    <br>
                    <select name="tamaño-largo" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">10 centímetros
                    <option value="2">15 centímetros
                    <option value="3">20 centímetros
                    <option value="4">25 centímetros
                    <option value="5">30 centímetros
                    </select>
                    <br>
                    <br>
                    Ancho del tatuaje
                    <br>
                    <br>
                    <select name="tamaño-ancho" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">10 centímetros
                    <option value="2">15 centímetros
                    <option value="3">20 centímetros
                    <option value="4">25 centímetros
                    <option value="5">30 centímetros
                    </select>
                    <br>
                    <br>
                    Colores a usar
                    <br>
                    <br>
                    <select name="colores" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">1 color
                    <option value="2">2 colores
                    <option value="3">3 colores
                    <option value="4">Más de 3 colores
                    </select>
                    <br>
                    <br>
                    Marca de la tinta
                    <br>
                    <br>
                    <select name="tinta" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">Dynamic
                    <option value="2">Element
                    <option value="3">Dragonhawk
                    </select>
                    <br>
                    <br>
                    Nivel de detalle
                    <br>
                    <br>
                    <select name="detalle" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">Simple
                    <option value="2">Con algunos detalles
                    <option value="3">Con muchos detalles
                    </select>
                    <br>
                    <br>
                    <input type="submit" value="Cotizar" class="botonFormulario">
                    <br>
                    <input type="Reset" value="Borrar todo" class="botonFormulario">
                    <br>
                    <br>
                </form>

                <div id="resultado"></div>

            </article>
        </div>
    </div>

    <!--Footer-->
    <!-------------------------------------------------------------------->   

    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="/Imagenes/logo_estudio.png" alt="Logo del estudio">
            </div>
            <div class="redes-footer">
                <a href="" class="fa-brands fa-pinterest" alt="Contacto: Perfil de Pinterest"></a>
                <a href="" class="fa-brands fa-google" alt="Contacto: GMail"></a>
                <a href="" class="fa-brands fa-instagram" alt="Contacto: Perfil de Instagram"></a>
                <a href="" class="fa-brands fa-whatsapp" alt="Contacto: Contacto de Whatsapp"></a>
            </div>
            <hr>
            <h5>© 2023   TintaEnMovimiento    -    Todos los Derechos Reservados</h5>
        </footer>
    </div>
    </div>
    <a href="#" class="subir"> <!--Boton de subir pagina-->
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </a>
    <script src="../JS/menu.js"></script>
    <script src="../JS/js.js"></script>
</body>
</html>
