{% extends "core/_base.html" %}
{% block title %}Tinta en Movimiento - Cotizador{% endblock %}
{% block background %}{% load static %}{% static 'core/img/fondo_portada.jpeg' %}{% endblock %}
{% block headers %}<h2>COTIZADOR TATTOO</h2>{% endblock %}

{% block content %} 

    <!--Section Main-->
    <!-------------------------------------------------------------------->

    <div class="main">
        <div>
            <article>
            
                <h3>Cotizá el valor de tu tatuaje</h3>
                    
                <form id="formularioCotizador">
                    Largo del tatuaje
                    <br>
                    <br>
                    <select name="tamaño-largo" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">10 centímetros
                    <option value="2">15 centímetros
                    <option value="3">20 centímetros
                    <option value="4">25 centímetros
                    <option value="5">30 centímetros
                    </select>
                    <br>
                    <br>
                    Ancho del tatuaje
                    <br>
                    <br>
                    <select name="tamaño-ancho" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">10 centímetros
                    <option value="2">15 centímetros
                    <option value="3">20 centímetros
                    <option value="4">25 centímetros
                    <option value="5">30 centímetros
                    </select>
                    <br>
                    <br>
                    Colores a usar
                    <br>
                    <br>
                    <select name="colores" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">1 color
                    <option value="2">2 colores
                    <option value="3">3 colores
                    <option value="4">Más de 3 colores
                    </select>
                    <br>
                    <br>
                    Marca de la tinta
                    <br>
                    <br>
                    <select name="tinta" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">Dynamic
                    <option value="2">Element
                    <option value="3">Dragonhawk
                    </select>
                    <br>
                    <br>
                    Nivel de detalle
                    <br>
                    <br>
                    <select name="detalle" required>
                    <option value="0" disabled selected>Selecciona una opción</option>
                    <option value="1">Simple
                    <option value="2">Con algunos detalles
                    <option value="3">Con muchos detalles
                    </select>
                    <br>
                    <br>
                    <input type="submit" value="Cotizar" class="botonFormulario">
                    <br>
                    <input type="Reset" value="Borrar todo" class="botonFormulario">
                    <br>
                    <br>
                </form>

                <div id="resultado"></div>

            </article>
        </div>
    </div>
{% endblock %}