{% extends "core/_base.html" %}
{% block title %}Tinta en Movimiento - Equipo{% endblock %}
{% block background %}{% load static %}{% static 'core/img/fondo_portada.jpeg' %}{% endblock %}
{% block headers %}<h2>EQUIPO TATTOO</h2>{% endblock %}

{% block content %}

    <!--Section Main-->
    <!-------------------------------------------------------------------->
    
    <div class="main">
        <div>
            <article>
            
                <h3>Nuestros artistas</h3>
                <p>En <b>Tinta En Movimiento</b>, nos enorgullece presentar a nuestro talentoso equipo de tatuadores, dedicados a transformar tus ideas en arte permanente en la piel. Nuestra pasión por el tatuaje se refleja en cada diseño único que creamos y en la atención meticulosa que brindamos a cada cliente.</p>
                <p>Nuestro equipo está formado por artistas apasionados y altamente capacitados que han perfeccionado su arte a lo largo de los años. Cada miembro aporta su estilo distintivo y experiencia, lo que nos permite ofrecer una amplia variedad de estilos y enfoques de tatuajes. </p>
                <p>Hacemos tatuajes de todo tipo: realistas, black&grey, a color, mandalas, ornamentales, watercolor, old y new school, geométricos.. Y cualquier cosa que se te ocurra. <b>¡Nos encantan los retos!</b></p>

            </article>
        </div>
    </div>

    <!--Section Equipo-->
    <!-------------------------------------------------------------------->

    <div class= "section-equipo">
        <h3 class="title">Nuestros artistas</a></h3>

        <div class="container_slider">

            <div class="container">
                <input type="radio" name="slide" id="item-1" checked>
                <input type="radio" name="slide" id="item-2">
                <input type="radio" name="slide" id="item-3">
                <input type="radio" name="slide" id="item-4">
                <input type="radio" name="slide" id="item-5">
                <input type="radio" name="slide" id="item-6">

                <div class="cards">
                    <label class="card" for="item-1" id="selector-1">
                        <img src="{% static 'core/img/luis.jpeg' %}">
                        <div class="artista"><p>Luis</p></div>
                    </label>
                    <label class="card" for="item-2" id="selector-2">
                        <img src="{% static 'core/img/carol.jpeg' %}">
                        <div class="artista"><p>Carol</p></div>
                    </label>
                    <label class="card" for="item-3" id="selector-3">
                        <img src="{% static 'core/img/charly.jpeg' %}">
                        <div class="artista"><p>Charly</p></div>
                    </label>
                    <label class="card" for="item-4" id="selector-4">
                        <img src="{% static 'core/img/nina.jpeg' %}">
                        <div class="artista"><p>Nina</p></div>
                    </label>
                    <label class="card" for="item-5" id="selector-5">
                        <img src="{% static 'core/img/enzo.jpeg' %}">
                        <div class="artista"><p>Enzo</p></div>
                    </label>
                    <label class="card" for="item-6" id="selector-6">
                        <img src="{% static 'core/img/val_val.jpeg' %}">
                        <div class="artista"><p>Val</p></div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!--Section comentarios--> <!---redirigir a pág. Equipo---->
    <!-------------------------------------------------------------------->

    <div class="section-opiniones">
       
        <div class="container-comentarios">

            <h3>Opiniones de nuestros clientes</h3>
            <hr>

            <input type="radio" name="slides" id="radio-1" checked>
            <input type="radio" name="slides" id="radio-2">
            <input type="radio" name="slides" id="radio-3">
            <input type="radio" name="slides" id="radio-4">

            <ul class="slides">
                <li class="slide">
                    <p>
                        <q>"La atención al cliente aquí es insuperable. Desde el momento en que entré, me sentí cómodo y bienvenido. El tatuaje que me hicieron es una obra de arte que llevaré con orgullo de por vida."</q>
                        
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b>Juan C. - </b>
                        
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            
                        </span>
                    </p>
                </li>

                <li class="slide">
                    <p>
                        <q>"No podría haber elegido un mejor lugar para mi primer tatuaje. El artista entendió mi visión y la plasmó perfectamente en mi piel. ¡Estoy emocionada con el resultado!"</q>
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b> Laura G. - </b>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </span>
                    </p>
                </li>

                <li class="slide">
                    <p>
                        <q>"¡Increíble experiencia! El equipo de artistas de este estudio tiene un talento excepcional. Mi tatuaje superó todas mis expectativas. ¡Gracias por hacerlo posible!"</q>
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b>Maria S.- </b>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </span>
                    </p>
                </li>

                <li class="slide">
                    <p>
                        <q> "Este estudio de tatuajes es simplemente excepcional. La limpieza y profesionalismo son evidentes en cada detalle. Sin duda, mi lugar de referencia para futuros tatuajes."</q>
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b>Carlos M. - </b>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </span>
                    </p>
                </li>

            </ul>

            <div class="navigation">
                <label for="radio-1" id="radioSelect-1"></label>
                <label for="radio-2" id="radioSelect-2"></label>
                <label for="radio-3" id="radioSelect-3"></label>
                <label for="radio-4" id="radioSelect-4"></label>
            </div>
        </div>
    </div>
{% endblock%}