{% extends "core/_base.html" %}

{% block title %}Tinta en Movimiento - Home{% endblock %}

{% block background %}{% load static %}{% static 'core/img/fondo_portada.jpeg' %}{% endblock %}


{% block headers %}
<h2>TINTA EN MOVIMIENTO</h2>
<span class="subheading"><h3><b>En nuestro estudio de tatuajes <b>la pasión y el arte</b> se fusionan para  transformar ideas en verdaderas obras maestras sobre la piel.</b></h3></span>
{% endblock %}
    <!--Section Main-->
    <!-------------------------------------------------------------------->
{% block content %} 
    
    <div class="main">
        <div>
            <article>
            
                <h3><a href="{% url 'estudio' %}">Nuestro estudio</a></h3>
    
                <p>Somos fieles creyentes de que cada tatuaje tiene una historia que contar, y estamos decididos a ayudarte a contar la tuya, ya sea que estés buscando tu primer tatuaje o que quieras agregar uno más a tu colección, estamos para escucharte, asesorarte y crear una obra que refleje tu personalidad. Acercate y descubrí por qué somos el destino preferido de aquellos que más saben sobre tatuajes, que buscan una atención al cliente inigualable y saben apreciar un ambiente cálido y acogedor. Tu historia es nuestra pasión, y estamos ansiosos por ser parte de ella.</p>
    
                <img src="{% static 'core/img/Estudio_3.jpeg' %}" alt="Imagen del estudio">

            </article>
    
        </div>
    </div>

    <div class="contenido-flotante">
        <p>Como entendemos la importancia del clima (humedad, temperatura, rayos UV) en la realización de un tatuaje, aquí te dejamos información de valor:</p>
        <p><div id="weather-data"></div></p>
    </div>

    <!--Section portafolio, redirigida a pág. Portafolio-->
    <!-------------------------------------------------------------------->
    
    <div class= "section-portafolio">
        <h3 class="title"><a href="{% url 'portafolio' %}">Portafolio</a></h3>

        <div class="container_slider">
            <div class="container">
                <input type="radio" name="slider" id="item-1" checked>
                <input type="radio" name="slider" id="item-2">
                <input type="radio" name="slider" id="item-3">
                <input type="radio" name="slider" id="item-4">
                <input type="radio" name="slider" id="item-5">
                <input type="radio" name="slider" id="item-6">
                <input type="radio" name="slider" id="item-7">
                <input type="radio" name="slider" id="item-8">
                <input type="radio" name="slider" id="item-9">
                <input type="radio" name="slider" id="item-10">
                <input type="radio" name="slider" id="item-11">
                <input type="radio" name="slider" id="item-12">
                <input type="radio" name="slider" id="item-13">
                <input type="radio" name="slider" id="item-14">
                <input type="radio" name="slider" id="item-15">
                <input type="radio" name="slider" id="item-16">
                <input type="radio" name="slider" id="item-17">

                <div class="cards">
                    <label class="card" for="item-1" id="selector-1">
                        <img src="{% static 'core/img/chica_india_oso.jpeg' %}">
                    </label>
                    <label class="card" for="item-2" id="selector-2">
                        <img src="{% static 'core/img/chica_rosa.jpeg' %}">
                    </label>
                    <label class="card" for="item-3" id="selector-3">
                        <img src="{% static 'core/img/chica_india_ornamental.jpeg' %}">
                    </label>
                    <label class="card" for="item-4" id="selector-4">
                        <img src="{% static 'core/img/espalda_baron.jpeg' %}">
                    </label>
                    <label class="card" for="item-5" id="selector-5">
                        <img src="{% static 'core/img/aguilas_neo_tradicional.jpeg' %}">
                    </label>
                    <label class="card" for="item-6" id="selector-6">
                        <img src="{% static 'core/img/calavera_blackwork.jpeg' %}">
                    </label>
                    <label class="card" for="item-7" id="selector-7">
                        <img src="{% static 'core/img/gramofono.jpeg' %}">
                    </label>
                    <label class="card" for="item-8" id="selector-8">
                        <img src="{% static 'core/img/vaca_neo_tradicional.jpeg' %}">
                    </label>
                    <label class="card" for="item-9" id="selector-9">
                        <img src="{% static 'core/img/tatuaje_serpiente_blancoynegro.jpeg' %}">
                    </label>
                    <label class="card" for="item-10" id="selector-10">
                        <img src="{% static 'core/img/oso_con_flecha.jpeg' %}">
                    </label>
                    <label class="card" for="item-11" id="selector-11">
                        <img src="{% static 'core/img/ave.jpeg' %}">
                    </label>
                    <label class="card" for="item-12" id="selector-12">
                        <img src="{% static 'core/img/leon.jpeg' %}">
                    </label>
                    <label class="card" for="item-13" id="selector-13">
                        <img src="{% static 'core/img/carta.jpeg' %}">
                    </label>
                    <label class="card" for="item-14" id="selector-14">
                        <img src="{% static 'core/img/geometrico.jpeg' %}">
                    </label>
                    <label class="card" for="item-15" id="selector-15">
                        <img src="{% static 'core/img/hombre_araña_pecho.jpeg' %}">
                    </label>
                    <label class="card" for="item-16" id="selector-16">
                        <img src="{% static 'core/img/brazo_robot.jpeg' %}">
                    </label>
                    <label class="card" for="item-17" id="selector-17">
                        <img src="{% static 'core/img/cierre_en_hombro.jpeg' %}">
                    </label>

                </div>
            </div>
        </div>
    </div>
    
    <!--Section blog, redirigida a pág. Blog-->
    <!-------------------------------------------------------------------->
        
    <div class="main-Blog">
        
        <article>

            <h3><a href="{% url 'blog' %}">Blog Tattoo</a></h3>
            <br>
            <h4>Principales Estilos de Tatuajes</h4>
            
            <p>En general, hay un estilo de tatuaje para cada persona. Algunos de los estilos más populares son:</p>
            <br>
            <ol>
                <li>El tatuaje tradicional americano.</li>
                <li>El tatuaje japonés.</li>
                <li>El tatuaje neo tradicional.</li>
                <li>El tatuaje de diseño gráfico.</li>
                <li>El tatuaje minimalista.</li>
                <li>El tatuaje de letras.</li>
                <li>El tatuaje de realismo.</li>
                <li>El tatuaje de arte corporal. </li>
            </ol>

            <img src="{% static 'core/img/tatuaje_blancoynegro.jpeg' %}" alt="Tatuaje en blanco y negro">
            
        </article>

        <!--Aside-->
        <!-------------------------------------------------------------------->   

        <div class="container-aside">
            <aside>
                <img src="{% static 'core/img/tatuadora.jpeg' %}" alt="Tatuadora">
                <h4>Como elegir el estilo de tatuaje perfecto</h4>
                <p>Encontrar el estilo de tatuaje adecuado es una decisión importante, ya que el tatuaje que estás a punto de hacer...</p>
                <a href="{% url 'articuloblog2' %}"><button>Leer más</button></a>
            </aside>
            <aside>
                <img src="{% static 'core/img/13-15Oct2023.jpeg' %}" alt="Cartel de evento sobre tatuajes">
                <h4>Próximos Eventos en Argentina 2023</h4>
                <a href="{% url 'articuloblog3' %}"><button>Leer más</button></a>
            </aside>
        </div>    
    </div>
    
    <!--Section comentarios, redirigida a pág. Equipo-->
    <!-------------------------------------------------------------------->

    <div class="section-opiniones">
       
        <div class="container-comentarios">

            <h3><a href="{% url 'equipo' %}">Opiniones de nuestros clientes</a></h3>
            <hr>

            <input type="radio" name="slides" id="radio-1" checked>
            <input type="radio" name="slides" id="radio-2">
            <input type="radio" name="slides" id="radio-3">
            <input type="radio" name="slides" id="radio-4">
            

            <ul class="slides">
                <li class="slide">
                    <p>
                        <q>"La atención al cliente aquí es insuperable. Desde el momento en que entré, me sentí cómodo y bienvenido. El tatuaje que me hicieron es una obra de arte que llevaré con orgullo de por vida."</q>
                        
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b>Juan C. - </b>
                        
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </p>
                </li>

                <li class="slide">
                    <p>
                        <q>"No podría haber elegido un mejor lugar para mi primer tatuaje. El artista entendió mi visión y la plasmó perfectamente en mi piel. ¡Estoy emocionada con el resultado!"</q>
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b> Laura G. - </b>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </p>
                </li>

                <li class="slide">
                    <p>
                        <q>"¡Increíble experiencia! El equipo de artistas de este estudio tiene un talento excepcional. Mi tatuaje superó todas mis expectativas. ¡Gracias por hacerlo posible!"</q>
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b>Maria S.- </b>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </p>
                </li>

                <li class="slide">
                    <p>
                        <q> "Este estudio de tatuajes es simplemente excepcional. La limpieza y profesionalismo son evidentes en cada detalle. Sin duda, mi lugar de referencia para futuros tatuajes."</q>
                        <span class="author">
                            <img src="{% static 'core/img/user_sin_foto.png' %}">
                            <b>Carlos M. - </b>

                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </p>
                </li>

            </ul>

            <div class="navigation">
                <label for="radio-1" id="radioSelect-1"></label>
                <label for="radio-2" id="radioSelect-2"></label>
                <label for="radio-3" id="radioSelect-3"></label>
                <label for="radio-4" id="radioSelect-4"></label>
            </div>
        </div>
    </div>
    
    <!--Section contacto, redirigida a pág. Contacto-->
    <!-------------------------------------------------------------------->
        
    <div class="main-Contacto">
        <div>
            <article>
                <h3><a href="{% url 'contacto' %}"><b>Contacto</b></a></h3> 
                
                <ol>
                    <li><b>Dirección</b></li>
                    <hr>
                    <li>Fray Justo Sta. María de Oro 2315 - Barrio Palermo</li>
                    <li>Buenos Aires, Argentina</li>
                    <br>
                    <li><b>Teléfono</b></li>
                    <hr>
                    <li>(+54) 11 1234-5678</li>
                    <br>
                    <li><b>Correo electrónico</b></li>
                    <hr>
                    <li>tintaenmovimiento@gmail.com</li>
                    <br>
                    <li><b>Horarios de atención</b></li>
                    <hr>
                    <li>Lunes: 10:00 - 15:00</li>
                    <li>Martes: 9:00 - 18:00</li>
                    <li>Miércoles: 9:00 - 15</li>
                    <li>Jueves: 9:00 - 18:00</li>
                    <li>Viernes: 9:00 - 18:00</li>
                    <li>Sábado: 10:00 - 15:00</li>
                    <li>Domingo: Cerrado</li>
                    <li>
                        <iframe class="iframe" src="https://maps.google.com/?ll=-34.581337,-58.426246&z=14&t=m&output=embed" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </li>
                </ol>
            </article>
        </div>
    </div>

{% endblock %}  
