{% extends "core/_base.html" %}
{% block title %}Tinta en Movimiento - Portafolio{% endblock %}
{% block background %}{% load static %}{% static 'core/img/fondo_portada.jpeg' %}{% endblock %}
{% block headers %}<h2>PORTAFOLIO TATTOO</h2>{% endblock %}

{% block content %} 

    <!--Section Main-->
    <!-------------------------------------------------------------------->

    <div class="galeria">
        <div class="img img1" style="background-image: url('{% static 'core/img/1.jpeg' %}')"></div>
        <div class="img img2" style="background-image: url('{% static 'core/img/2.jpeg' %}')"></div>
        <div class="img img3" style="background-image: url('{% static 'core/img/3.jpeg' %}')"></div>
        <div class="img img4" style="background-image: url('{% static 'core/img/4.jpeg' %}')"></div>
        <div class="img img5" style="background-image: url('{% static 'core/img/5.jpeg' %}')"></div>
        <div class="img img6" style="background-image: url('{% static 'core/img/6.jpeg' %}')"></div>
        <div class="img img7" style="background-image: url('{% static 'core/img/7.jpeg' %}')"></div>
        <div class="img img8" style="background-image: url('{% static 'core/img/8.jpeg' %}')"></div>
        <div class="img img9" style="background-image: url('{% static 'core/img/9.jpeg' %}')"></div>
        <div class="img img10" style="background-image: url('{% static 'core/img/10.jpeg' %}')"></div>
        <div class="img img11" style="background-image: url('{% static 'core/img/11.jpeg' %}')"></div>
        <div class="img img12" style="background-image: url('{% static 'core/img/12.jpeg' %}')"></div>
        <div class="img img13" style="background-image: url('{% static 'core/img/13.jpeg' %}')"></div>
        <div class="img img14" style="background-image: url('{% static 'core/img/14.jpeg' %}')"></div>
    </div>

    <!--Section-->
    <!-------------------------------------------------------------------->

    <div class= "section">
        <div>
            <section>

                <h3>Inmortalizar el momento</h3>

                <h4>Imágenes que hablan por sí mismas.</h4>
                <p>En nuestro portafolio, cada imagen es una obra maestra en sí misma. Cada tatuaje cuenta una historia única y se convierte en un testimonio de la creatividad y la maestría de nuestros artistas. Explora nuestra colección de imágenes para descubrir una amalgama de estilos, desde realismo impresionante hasta diseños abstractos, donde la calidad y la atención al detalle son innegables.</p>
                <br>

                <h4>Una incanzable pasión por la búsqueda del tatuaje perfecto.</h4>
                <p>Cada imagen que compartimos en nuestro portafolio es un reflejo de nuestra pasión por la perfección. La calidad de las imágenes que presentamos es tan impresionante como los propios tatuajes. Cada ángulo, cada sombra y cada matiz se capturan con precisión para que puedas apreciar verdaderas obras de arte en alta definición. Adéntrate en un mundo de tatuajes excepcionales a través de nuestras imágenes y descubre la calidad que define nuestra dedicación al arte del tatuaje.</p>

            </section>
        </div>
    </div>
{% endblock %}