<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinta en Movimiento - Portafolio</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/Imagenes/favicon.png">
    <link rel="stylesheet" href="/CSS/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Nosifer&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>

    <!--Header - Menu-->
    <!-------------------------------------------------------------------->

    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Tinta<b>En</b>Movimiento</h1>    
            </div>

            <div class="menu" id="show-menu">
            
                <div><nav>
                    <ul class="menu_display">
                        <li><a href="../index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                        <li><a href="estudio.html"><i class="fa-solid fa-building"></i>Estudio</a></li>
                        <li><a href="equipo.html"><i class="fa-solid fa-handshake"></i>Equipo</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected"><i class="fa-solid fa-images"></i>Portafolio</a></li>
                        <li><a href="cuidados.html"><i class="fa-solid fa-user-nurse"></i>Cuidados</a></li>
                        <li><a href="cotizador.html"><i class="fa-solid fa-calculator"></i>Cotizador</a></li>
                        <li><a href="blog.html"><i class="fa-solid fa-blog"></i>Blog</a></li>
                        <li><a href="contacto.html"><i class="fa-solid fa-address-book"></i>Contacto</a></li>
                    </ul>
                </nav></div>
                
            </div>

            <div id="icon-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <!--Portada-->
    <!-------------------------------------------------------------------->

    <div class="container-all" id="move-content">

    <div class="container-cover">
        <div class="container-info-cover">
            <h2>Portafolio Tattoo</h2>
        </div>
    </div>

    <div class="galeria">
        <div class="img img1"></div>
        <div class="img img2"></div>
        <div class="img img3"></div>
        <div class="img img4"></div>
        <div class="img img5"></div>
        <div class="img img6"></div>
        <div class="img img7"></div>
        <div class="img img8"></div>
        <div class="img img9"></div>
        <div class="img img10"></div>
        <div class="img img11" ></div>
        <div class="img img12"></div>
        <div class="img img13"></div>
        <div class="img img14"></div>

    </div>

    <!--Section-->
    <!-------------------------------------------------------------------->

    <div class= "section">
        <div>
            <section>

                <h3>Inmortalizar el momento</h3>

                <h4>Imágenes que hablan por sí mismas.</h4>

                <p>En nuestro portafolio, cada imagen es una obra maestra en sí misma. Cada tatuaje cuenta una historia única y se convierte en un testimonio de la creatividad y la maestría de nuestros artistas. Explora nuestra colección de imágenes para descubrir una amalgama de estilos, desde realismo impresionante hasta diseños abstractos, donde la calidad y la atención al detalle son innegables.</p>
                <br>
                <h4>Una incanzable pasión por la búsqueda del tatuaje perfecto.</h4>

                <p>Cada imagen que compartimos en nuestro portafolio es un reflejo de nuestra pasión por la perfección. La calidad de las imágenes que presentamos es tan impresionante como los propios tatuajes. Cada ángulo, cada sombra y cada matiz se capturan con precisión para que puedas apreciar verdaderas obras de arte en alta definición. Adéntrate en un mundo de tatuajes excepcionales a través de nuestras imágenes y descubre la calidad que define nuestra dedicación al arte del tatuaje.</p>

            </section>
        </div>
    </div>

    <!--Footer-->
    <!-------------------------------------------------------------------->   

    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="/Imagenes/logo_estudio.png" alt="Logo del estudio">
            </div>
            <div class="redes-footer">
                <a href="" class="fa-brands fa-pinterest" alt="Contacto: Perfil de Pinterest"></a>
                <a href="" class="fa-brands fa-google" alt="Contacto: GMail"></a>
                <a href="" class="fa-brands fa-instagram" alt="Contacto: Perfil de Instagram"></a>
                <a href="" class="fa-brands fa-whatsapp" alt="Contacto: Contacto de Whatsapp"></a>
            </div>
            <hr>
            <h5>© 2023   TintaEnMovimiento    -    Todos los Derechos Reservados</h5>
        </footer>
    </div>
    </div>
    <a href="#" class="subir"> <!--Boton de subir pagina-->
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
    </a>
    <script src="../JS/menu.js"></script>
</body>
</html>
